/* text-color : #1E1E1E; */
/* background-color:#53267B; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    background: hsla(268, 43%, 73%, 1);
    background: linear-gradient(180deg, hsla(268, 43%, 73%, 1) 0%, hsla(267, 66%, 51%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(268, 43%, 73%, 1) 0%, hsla(267, 66%, 51%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(268, 43%, 73%, 1) 0%, hsla(267, 66%, 51%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B99ED8", endColorstr="#7A2FD4", GradientType=1 );
}
html{
    scroll-behavior: smooth;
}
.quiz-app{
    width: 100%;
    height: auto;
}
.quiz-app-2{
    height: 100vh!important;
}
.quiz-continue-btn{
    margin:20px auto 20px auto;
    width: 47%;
}
.quiz-background-gradient{
    background: hsla(268, 43%, 73%, 1);
    background: linear-gradient(180deg, hsla(268, 43%, 73%, 1) 0%, hsla(267, 66%, 51%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(268, 43%, 73%, 1) 0%, hsla(267, 66%, 51%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(268, 43%, 73%, 1) 0%, hsla(267, 66%, 51%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B99ED8", endColorstr="#7A2FD4", GradientType=1 );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 100%;
}
.quiz-image-well-done{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.quiz-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
.quiz-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quiz-icon .quiz-icon-image{
    margin-left: 10px;
    margin-right: 10px;
    
    background: #E8E9F4;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    color: #C4C2CA;
    width: 30px;
    height: 30px;
}
.quiz-icon .quiz-icon-image a{
    color: #C4C2CA;
    text-decoration: none;
    font-family:'Inter', sans-serif;
    font-size: 20px;
}
.quiz-close {
    margin-top: 20px;
    margin-left: 20px;
}

.quiz-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: 0px;
}
.quiz-content-row{
    display: block;
    width: 28%;

    background: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 30px;

    margin-bottom: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.quiz-headline-text{
    font-family:'Inter', sans-serif;
    text-align: center;
}
.quiz-headline-text h3{
    text-transform: capitalize;
    line-height: 1.4;
    font-size: 24px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.quiz-headline-text p{
    line-height: 1.5;
    font-size: 16px;
    margin-top: 5px;

    padding-left: 35px;
    padding-right: 35px;
}
img.quiz-image{
    width: 100%;
    height: auto;
}
.quiz-image-level{
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
}
.quiz-button{
    background-color:#53267B;
    padding: 15px;
    border-radius: 10px;
    text-align: center;

    width: 85%;
    margin: auto;
}
.quiz-btn{
    text-decoration: none;
}
.quiz-color-white{
    color: white;
    font-family:'Inter', sans-serif;
    font-weight: 600;
}
.quiz-image-mTruLav {
    margin-top: 30px;
    margin-bottom: -34px;

    text-align: center;
}
.quiz-image-description{
    text-align: center;
    font-family:'Inter', sans-serif;
    text-color : #1E1E1E;
}
.quiz-image-description h3{
    line-height: 1.5;
    margin-bottom: 0;
}
.quiz-image-description p{
    line-height: 1.5;
    margin-top: 5px;

    padding-left: 35px;
    padding-right: 35px;
}
.quiz-image-icon{
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
}
.quiz-testimoni-wrapper{
    background: #E9E9FA;
    padding: 25px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.quiz-testimoni-description{
    font-family:'Inter', sans-serif;
    color : #1E1E1E;
}
.quiz-testimoni-description p{
    font-size: 16px;
    line-height: 1.5;
    
    margin-top: 5px;
    margin-bottom: 5px;
}
.quiz-testimoni-description h3{
    font-size: 18px;
    line-height: 1.5;

    margin-top: 5px;
    margin-bottom: 5px;
}
.quiz-headline-image{
   margin: 20px;
   display: flex;
   justify-content: center;
}
.quiz-text-left{
    text-align: left!important;
}
.quiz-sosial-media{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-around;
}
.quiz-sosial-media-icon span{
    font-family:'Inter', sans-serif;
    color : #ACACAC;
    font-weight: 400;
    font-size: 14px;

    padding-left: 5px;
    padding-right: 5px;
}
.quiz-headline-sosial-media{
    font-family:'Inter', sans-serif;
    color : #1E1E1E;
}
.quiz-headline-sosial-media p{
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.quiz-sosial-media-icon {
    align-items: center;
    display: flex;
}
.quiz-effect-right{
    display: flex;
}
.quiz-image-slide{
    width: 100%;
}
.quiz-image-level-up{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.quiz-image-level-up img{
    width: 90%;
}
/* .quiz-image-level img{
    width: 500px;
    height: 350px;
} */
.quiz-image-mTruLav{
    margin-top: 50px;
}
.quiz-bg-product {
    background: url("https://joseaditya.sgp1.cdn.digitaloceanspaces.com/images/TruLav.id/Quiz/product-left/Thumbnail%20Produk.png");
    height: 480px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
section.quiz-content-row.quiz-no-padding-and-margin {
    height: auto;
}
.quiz-wrappe-slide img {
    position: relative;
    left: -10px;
    width: 345px;
    top: -120px;
}
.quiz-footer{
    text-align: center;
    color: #C3B5F1;
    font-family:'Inter', sans-serif;
}
section.quiz-footer p {
    margin: 0;
    padding-bottom: 20px;
}
.quiz-date {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -30px;
}
.quiz-date-star h3{
    font-family:'Inter', sans-serif;
    color: #C3B5F1;
}
.quiz-date-end h3{
    font-family:'Inter', sans-serif;
    color: #B97ED0
}
.quiz-info-trulav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-icon-trulav {
    padding: 10px;
    border: 2px solid #E1E1E1;
    border-radius: 10px;
}
.quiz-description-info-trulav {
    width: 60%;
    margin-left: 20px;
    font-family:'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}
.quiz-about-you {
    width: 90%;
    margin: 20px auto 20px auto;
}
.quiz-answer-summary {
    display: flex;
    align-items: center;
    border: 2px solid #E1E1E1;
    border-radius: 10px;
    padding-left: 15px;
    margin: 10px 0px 10px 0px;
}
.quiz-icon-answer-summary p {
    font-size: 20px;
}
.quiz-text-answer-summary p {
    padding-left: 20px;
    font-size: 18px;
    font-family:'Inter', sans-serif;
}
.quiz-about-you h3 {
    font-size: 20px;
    font-family:'Inter', sans-serif;
}
.quiz-table-up-performance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.icon-up-performance {
    margin: 0px 10px 0px 0px;
    font-family:'Inter', sans-serif;
    font-size: 16px;
   
}
.title-up-performance {
    margin: 0px 10px 0px 0px;
    font-family:'Inter', sans-serif;
    font-size: 16px;
    width: 60%;
    line-height: 1.5;
}
.video-up-performance {
    margin: 0px 10px 0px 0px;
    font-family:'Inter', sans-serif;
    font-size: 15px;
}

.quiz-head-table-offer{
    background: #A694E0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.quiz-head-table-offer p {
    font-family:'Inter', sans-serif;
    font-size: 16px;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0;
}
.quiz-table-offer {
    width: 90%;
    margin: 20px auto 20px auto;
}
.quiz-body-left-table-offer{
    padding: 10px;
    background-color: #e1caff;
    border-bottom-left-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz-body-right-table-offer {
    width: 100%;
    background-color: #d8d3e8;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz-body-table-offer{
    display: flex;
}
.quiz-body-right-table-offer img {
    width: 70%;
    margin-top: 20px;
}
.quiz-body-left-table-offer img {
    width: 70%;
    margin-top: 20px;
}
.quiz-body-left-table-offer h3{
    font-family:'Inter', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
}
.quiz-body-left-table-offer p{
    font-family:'Inter', sans-serif;
    text-align: center;
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    padding-bottom: 10px;
}
.quiz-body-right-table-offer h3{
    font-family:'Inter', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
}
.quiz-body-right-table-offer p{
    font-family:'Inter', sans-serif;
    text-align: center;
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    padding-bottom: 10px;
}

.quiz-package-subscribe h2{
    font-family:'Inter', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-size: 30px;
}
.quiz-package-subscribe p{
    font-family:'Inter', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 5px;
    font-size: 18px;
    margin-bottom: 25px;
}

.quiz-price-list-package {
    display: flex;
    margin: 10px 0 10px 0;
    justify-content: space-around;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.quiz-label-price-list {
    font-size: 22px;
    font-weight: bold;
    font-family:'Inter', sans-serif;
    width: 30%;
}
.quiz-price-list {
    padding: 0;
    margin: 0;
    width: 40%;
}
.quiz-price-del del {
    font-family:'Inter', sans-serif;
}
.quiz-price-normal h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    font-family:'Inter', sans-serif;
    padding-top: 5px;
}
.quiz-price-normal span {
    margin: 0;
    font-size: 13px;
    font-family:'Inter', sans-serif;
}
.quiz-price-del {
    display: flex;
}
.quiz-price-best-seller {
    position: relative;
    left: 5%;
    font-size: 8px;
    background-color: #47CA93;
    padding: 5px;
    border-radius: 10px;
    font-family:'Inter', sans-serif;
    text-transform: uppercase;
    color: white;
}
.quiz-price-best-seller img {
    width: 9px;
}
.quiz-price-list-package.active {
    border: 1px solid #53267B;
}
.quiz-termcondition {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 15px;  
}
.quiz-termcondition p{
    font-family:'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color:#ACACAC;
}
.quiz-secure-payment {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.quiz-secure-payment p{
    font-family:'Inter', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}
.quiz-img-payment {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.quiz-list-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 88%;
    margin: 0 auto;
}
.quiz-text-icon-benefit p {
    margin: 0;
    padding-left: 10px;
    font-family:'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.quiz-question-collapse {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.quiz-question-collapse .collapsible {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    padding: 15px 10px 15px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    font-family:'Inter', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.quiz-content-question-collapse {
    padding: 5px;
    display: none;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -10px;
}
.quiz-content-question-collapse p{
    margin: 0;
    padding: 10px 5px 10px 5px;
    font-family:'Inter', sans-serif;
    font-size: 16px;
}
.quiz-box-checkout {
    width: 90%;
    margin: auto;
}
.quiz-box-checkout-desc {
    display: flex;
    justify-content: space-between;
}
.quiz-box-cb-left{
    margin-top: 10px;
    margin-bottom: 10px;
}
.quiz-box-cb-right{
    margin-top: 10px;
    margin-bottom: 10px;
}
.quiz-box-cb-left p {
    margin: 0;
    font-family:'Inter', sans-serif;
    color:#D0D0D0;
    font-size: 20px;
}
.quiz-box-cb-right p {
    margin: 0;
    font-family:'Inter', sans-serif;
    color:#D0D0D0;
    font-size: 20px;
}
.quiz-box-checkout-body {
    margin-bottom: 30px;
}
.quiz-box-checkout-head h2 {
    font-family:'Inter', sans-serif;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
p.quiz-offer-diskon{
    color: #FF0000;
}
p.quiz-offer-total{
    color:#47CA93;
}
p.quiz-offer-total-desc{
    color: black;
    font-size: 18px;
    padding-top: 5px;
}
hr.quiz-hr-offering {
    border-width: 1px;
    margin-block-start: 1px;
    margin-inline-end: 1px;
    border: 1px solid #D0D0D0;
    margin-top: 15px;
}
.quiz-head-offering-box {
    background-color: white;
    margin-top: -40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 370px;  
}
.quiz-box-offering-margin-top-50{
    padding-top: 30px;
}
.quiz-offering-countdown-wrappe-bg {
    background: #E8E9F4;
    padding: 5px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 20px;
}
.quiz-offering-countdown-wrappe-bg p {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family:'Inter', sans-serif;
    font-size: 14px;
}
.quiz-offering-countdown-wrappe-bg h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
    font-family:'Inter', sans-serif;
}
.quiz-head-offering-box-content {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}
.quiz-continue-btn.quiz-width-60 {
    width: 31%;
}
@media (max-width: 767px) {
    .quiz-continue-btn.quiz-width-60 {
        width: 95%!important;
    }
    .quiz-termcondition p{
        font-size: 13px;
    }
    .quiz-head-offering-box{
        margin-top: 0px;
        height: 250px;
    }
    .quiz-offering-countdown-wrappe-bg {
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 10px;
    }
    .quiz-offering-countdown-wrappe-bg h3 {
        text-align: center;
        font-size: 16px;
    }
    .quiz-offering-countdown-wrappe-bg p {
        margin: 0;
        padding: 5px;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
    }
    p.quiz-offer-total-desc{
        font-size: 13px!important;
    }
    .quiz-box-checkout-head h2 {
        font-size: 20px;
    }
    .quiz-secure-payment p{
        font-size: 15px;
    }
    .quiz-box-cb-left p {
        font-size: 14px;
    }
    .quiz-box-cb-right p {
        font-size: 14px;
    }
    .quiz-content-question-collapse p{
        font-size: 14px;
    }
    .quiz-question-collapse .collapsible {
        font-size: 18px;
    }
    .quiz-text-icon-benefit p {
        font-size: 14px;
    }
    .quiz-img-payment img {
        width: 60%;
    }
    .quiz-label-price-list {
        width: 30%;
    }
    .quiz-price-list {
        width: 50%;
    }
    .quiz-package-subscribe h2{
        font-size: 18px;
    }
    .quiz-package-subscribe p{
        font-size: 14px;
    }
    .quiz-body-left-table-offer p{
        font-size: 13px;
    }
    .quiz-body-right-table-offer p{
        font-size: 13px;
    }
    .quiz-body-left-table-offer h3{
        font-size: 16px;
        width: 90%;
        margin-bottom: 10xp;
    }
    .quiz-body-right-table-offer h3{
        font-size: 16px;
        width: 90%;
        margin-bottom: 10xp;
    }
    .quiz-price-del {
        font-size: 14px;
    }
    .quiz-price-normal h3 {
        margin: 0;
        font-size: 18px;
    }
    .quiz-label-price-list {
        font-size: 18px;
    }
    .quiz-package-subscribe p {
        font-size: 14px;
    }
    .quiz-package-subscribe h2 {
        font-size: 18px;
    }
    .quiz-list-row {
        width: 90%;
    }
    .quiz-secure-payment {
        width: 90%;
    }
    .quiz-app-2 {
        height: 100%!important;
    }
    .quiz-date-star h3 {
        font-size: 16px;
    }
    .quiz-date-end h3 {
        font-size: 16px;
    }
    .quiz-description-info-trulav {
        font-size: 12px;
        line-height: 1.3;
    }
    section.quiz-footer p {
        font-size: 13px;
        padding-bottom: 50px;
    }
    .quiz-continue-btn {
        margin: 0px auto 20px auto;
        width: 97%;
    }
    .quiz-image-mTruLav img {
        width: 80%;
    }
    .quiz-image-level img {
        width: 70%;
    }
    .quiz-testimoni-description h3 {
        font-size: 15px;
    }
    .quiz-testimoni-description p {
        font-size: 14px;
        line-height: 1.6;
    }
    .quiz-sosial-media {
        display: flex;
        padding-top: 0px;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .quiz-sosial-media-icon {
        align-items: center;
        display: flex;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .quiz-testimoni-wrapper {
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .quiz-navbar{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
    }
    .quiz-icon .quiz-icon-image{
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
        width: 20px;
        height: 20px;
    }
    .quiz-content{
        margin-top: 0px;
        margin-bottom: 0px;

        padding-top: 20px;
    }
    .quiz-content-row{
        width: 90%;
        background: white;

        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }
    .quiz-sosial-media-icon span{
        font-size: 12px;
    }
    .quiz-headline-image{
        text-align: center;
    }
    .quiz-headline-text.quiz-text-left{
        text-align: center!important;
    }
    .quiz-headline-sosial-media{
        text-align: center;
    }
    .quiz-button {
        width: 85%;
    }
    .quiz-image-icon img.quiz-image {
        width: 50%;
        height: auto;
    }
    .quiz-headline-text p {
        padding-left: 15px;
        padding-right: 15px;

        font-size: 16px;
    }
    .quiz-image-description p {
        padding-left: 20px;
        padding-right: 20px;

        font-size: 16px;
    }
    .quiz-image-icon img {
        width: 60%;
    }
    .quiz-headline-text h3 {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 20px;
    }
    .quiz-bg-product {
        height: 280px;
    }
    .quiz-about-you h3 {
        font-size: 16px;
    }
    .quiz-text-answer-summary p {
        font-size: 16px;
    }
    .icon-up-performance {
        font-size: 14px;
    }
    .title-up-performance {
        font-size: 14px;
    }
    .video-up-performance {
        font-size: 14px;
        line-height: 1.5;
    }
    .quiz-close {
        margin-left: 10px;
    }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .quiz-secure-payment p {
        font-size: 16px;
    }
    .quiz-box-cb-left p {
        font-size: 16px;
    }
    .quiz-box-cb-right p {
        font-size: 16px;
    }
    .quiz-close {
        margin-left: 10px;
    }
    .quiz-label-price-list {
        width: 30%;
    }
    .quiz-price-list {
        width: 50%;
    }
    .quiz-secure-payment {
        width: 75%;
    }
    .quiz-content-row {
        display: block;
        width: 70%;
    }
    .quiz-sosial-media-icon span {
        font-size: 11px;
    }
    img.quiz-image {
        width: 50%;
    }
    .quiz-sosial-media {
        padding-left: 20px;
        padding-right: 20px;
    }
    .quiz-bg-product {
        height: 300px;
    }
    .quiz-image-mTruLav img {
        width: 70%;
    }
    .quiz-description-info-trulav {
        font-size: 14px;
    }
    .quiz-continue-btn {
        margin: 0px auto 20px auto;
        width: 47%;
    }
}
@media (min-width: 1200px) and (max-width: 1500px) {
	.quiz-bg-product {
        height: 380px;
    }
    .quiz-app-2 {
        height: 100%!important;
    }
    .quiz-description-info-trulav {
        font-size: 14px;
    }
    .quiz-secure-payment {
        width: 75%;
    }
    .quiz-content-row {
        width: 40%;
    }
}